@import "Container";
@import "Icon.css";
@import "./account/view/Charge";
@import "~antd-mobile/dist/antd-mobile.min.css";
@import "./account/view/Detail";
@import "./account/view/Diagram";

$primary-color: #fff;


html, body, #root, #app{
  height: 100%;
  width: 100%;
  background: $grey-bg-color;
}


