$footer-color: #f5e279;
$icon-color: #171515;
//$icon-border-color: #f3f3f0;
$icon-border-color: #c4af90;
$font-size-10px: 10px;
$font-size-12px: 12px;
$font-size-15px: 15px;
$font-size-20px: 20px;
$tint-color: #171712;
$yellow-color: #fae46d;
$yellow-lighter-color: #ffe86f;
$yellow-font-color: #fae46d;
$blueBlack-footer-color: #181c28;
$blueBlack-header-color: #181c28;
$black-color: #191b28;
$white-font-color: #ffffff;
//$white-font-color: #64676c;
$grey-bg-color: #efefef;
$grey-header-color: #9a9a96;
$pink-color: #fc676b;
$grey-icon-color: #efeded;
$border-top: 5% 5% 0 0;
$border-all: 5% 5% 5% 5%;
$border-all-10px: 10px;
$card-width: 90%;
$card-width-90: 90%;
$top-height: 14%;

@mixin flex-direction-row{
  display: flex;
  flex-direction: row;
  align-items: center;
}
@mixin flex-direction-column{
  display: flex;
  flex-direction: column;
  align-items: center;
}

@mixin margin-leftRight {
  margin-right: 10%;
}

@mixin content {
  width: 100%;
  height: 86%;
  overflow-y: scroll;
  margin-top: -2%;
  z-index: 9999;
  border-radius: 5% 5% 0 0;
  background: #efefef;
}
.detail-content_nodata {
@include content;
}
