$footer-color: #f5e279;
$icon-color: #171515;
//$icon-border-color: #f3f3f0;
$icon-border-color: #c4af90;
$font-size-10px: 10px;
$font-size-12px: 12px;
$font-size-15px: 15px;
$font-size-20px: 20px;
$tint-color: #171712;
$yellow-color: #fae46d;
$blueBlack-footer-color: #181c28;
$black-color: #191b28;
$white-color: #ffffff;
$white-font-color: #64676c;
$grey-bg-color: #efefef;
$pink-color: #fc676b;
$grey-icon-color: #efeded;

@mixin flex-direction-row{
  display: flex;
  flex-direction: row;
  align-items: center;
}
@mixin flex-direction-column{
  display: flex;
  flex-direction: column;
  align-items: center;
}

@mixin margin-leftRight {
  margin-right: 10%;
}
