@use 'App';
$footer-color: white;
@import "./Config";

@mixin flex-layout($direction: row) {
  display: flex;
  flex-direction: $direction;
  justify-content: center;
  align-items: center;
}

@mixin debug-color($theme:auqa) {
  background: $theme;
}

#footer {
  width: 100%;
  height: 8%;
  @include debug-color($blueBlack-footer-color);
  @include flex-layout;
  position: fixed;
  //border-top: 1px solid #efeeee;
  border-radius: 5% 5% 0 0;
}
.footer-item {
  width:20%;
  height: 100%;
  @include flex-layout(column);
  justify-content: center;
  align-items: center;

}
.footer-item a {
  @include flex-layout(column);
  justify-content: center;
  align-items: center;
  .footer-item-icon {
    font-size: 25px;
  }
  color: $white-color;
}
#main {
  width:100%;
  height: 92%;
  @include debug-color;
}

