@font-face {
  font-family: "iconfont"; /* Project id 2730143 */
  src: url('//at.alicdn.com/t/font_2730143_hsxo49qy2s.woff2?t=1630155528436') format('woff2'),
  url('//at.alicdn.com/t/font_2730143_hsxo49qy2s.woff?t=1630155528436') format('woff'),
  url('//at.alicdn.com/t/font_2730143_hsxo49qy2s.ttf?t=1630155528436') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-tubiaozhizuomoban:before {
  content: "\e657";
}

.icon-gongzi1:before {
  content: "\e60d";
}

.icon-zanwushuju:before {
  content: "\e619";
}

.icon-zhishiku:before {
  content: "\e641";
}

.icon-zhishi:before {
  content: "\e61f";
}

.icon-tuya_huabanfuben:before {
  content: "\e75b";
}

.icon-wodeban:before {
  content: "\e61a";
}

.icon-jiahao:before {
  content: "\e60c";
}

.icon-mingxi:before {
  content: "\e610";
}

.icon-mingxi1:before {
  content: "\f2d5";
}

.icon-xia:before {
  content: "\e60b";
}

.icon-jianzhi:before {
  content: "\e61d";
}

.icon-ziyuan:before {
  content: "\e640";
}

.icon-gongzi:before {
  content: "\e6d6";
}

.icon-licai:before {
  content: "\e6c4";
}

.icon-jiaotong:before {
  content: "\e612";
}

.icon-riyongpin:before {
  content: "\e63f";
}

.icon-chongwu:before {
  content: "\e608";
}

.icon-zhufang:before {
  content: "\e63b";
}

.icon-jiaoyu:before {
  content: "\e601";
}

.icon-YUAN:before {
  content: "\e785";
}

.icon-transaction:before {
  content: "\e786";
}

.icon-linechart:before {
  content: "\e7af";
}

.icon-shop:before {
  content: "\e7ce";
}

.icon-shopping:before {
  content: "\e7cf";
}

.icon-calendar:before {
  content: "\e7d3";
}

.icon-shucai:before {
  content: "\e63c";
}

.icon-canyin:before {
  content: "\e69f";
}

.icon-haizi:before {
  content: "\e84e";
}

.icon-shuiguo:before {
  content: "\e611";
}

.icon-auto:before {
  content: "\e6eb";
}

.icon-apparel:before {
  content: "\e743";
}

.icon-icon:before {
  content: "\e65f";
}

.icon-zhanweifu:before {
  content: "\e626";
}

.icon-Diagram:before {
  content: "\e8ad";
}

.icon-Diagram_:before {
  content: "\e8ae";
}

.icon-Diagram_1:before {
  content: "\e8af";
}

.icon-tubiao:before {
  content: "\e6d8";
}

.icon-discounts:before {
  content: "\e771";
}

.icon-usercenter:before {
  content: "\e773";
}

