@import "../../Config";
.charge-title{
@include flex-direction-column;
}
.charge-title-content{
@include flex-direction-row;
  justify-content: space-between;
  width: 80%;
}
.charge-title_container{
  width: 100%;
}
.charge-title_button{
  @include flex-direction-row;
  flex-wrap: wrap;
}
.charge-content-container {
  padding: 20px;
  width: 25%;
  @include flex-direction-column;
  .charge-content-icon{
  }
}
//.am-list-body {
//  border: none;
//  text-align: center;
//  @include flex-direction-row;
//  flex-wrap: wrap;
//  justify-content: center;
//  align-items: center;
//}
.popup-list{
  height: 210px;
  overflow: auto;
}
.am-modal-mask {
  opacity: 0.1;
}
.text-type_icon{
  font-size: 40px;
}
.charge-input-date{
  margin-bottom: 10px;
}
