@import "../../Config";
$svg-bg-color: #ffffff;
.diagram-container{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.diagram-content{
 @include content;
}
.diagram-content-box{
  width: $card-width;
  height: 86%;
  background: $white-font-color;
  margin: auto;
  border-radius: $border-all-10px;
  padding: 2%;
  //@include flex-direction-column;
}
.diagram-content-date{
  height: 10%;
  width: $card-width;
  margin: auto;
  @include flex-direction-row;
  align-items: flex-start;
  justify-content: space-between;
}
.diagram-content-date-item{
  width: 10%;
  height: 60px;
  margin-top: -5px;
  border-radius: $border-all-10px;
  background: $white-font-color;
  color: $black-color;
  font-weight: bold;
  @include flex-direction-column;
  justify-content: center;
  align-items: center;
  margin: auto;
}
.diagram-header {
  background: $blueBlack-header-color;
  height: $top-height;
  width: 100%;
}
.diagram-header_inout {
  width: 30%;
  margin: auto;
  padding-top: 10px;
}
.diagram-header_period {
  width: 90%;
  padding:10px 0 10px 0;
  margin: auto;
}
.diagram-header_date {
}
.diagram-lineChart {
  width: $card-width-90;
  margin: auto;
  height: 220px;
  border-radius: $border-all-10px;
  background: $black-color;
  @include flex-direction-column;
  justify-content: center;
  align-items: center;
  .diagram-lineChart-title{
    width: 80%;
    height:20%;
    font-size: $font-size-20px;
    font-weight: bold;
    color:$white-font-color;
    text-align: left;
    @include flex-direction-column;
    justify-content: center;
    align-items: center;
  }
  .diagram-lineChart-line{
    stroke: $white-font-color;
    stroke-width: 2px;
    stroke-dasharray: 5;
  }
  .diagram-svg_line {
    width: 90%;
    height: 80%;
    //padding-bottom: 1%;
  }
  .diagram-lineChart-text{
    fill: $white-font-color;
    stroke-width: 1px;
    font-size: 20px;
  }
}

.svg-line-path{
  fill: none;
  stroke: $yellow-lighter-color;
  stroke-width: 3px;
}

.domain {
  stroke: $white-font-color;
  text {

  }
}
.tick {
  fill: none;
  stroke-width: 0;
  text {
    fill:$white-font-color
  }
}






//Bar chart style
#svg-bar {
 width: 100%;
}
.diagram-barChart {
  width: $card-width-90;
  margin: auto;
  background: $blueBlack-header-color;
  margin-top: 40px;
  border-radius: $border-all-10px;
}
.diagram-svg_bar {
}
.diagram-lineChart-text{
  fill: $white-font-color;
}

.diagram-barChart-title{
  width: 80%;
  height:20%;
  font-size: $font-size-20px;
  font-weight: bold;
  color:$white-font-color;
  text-align: left;
  @include flex-direction-column;
  justify-content: center;
  align-items: center;
  margin: auto;
  padding-top: 10px;
}
